body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #e40521;
    color: white;
    padding: 1em;
    text-align: center;
}

h1, h2 {
    margin-bottom: 0.5em;
}

.image-container {
    text-align: center;
    margin: 20px;
}

.columns {
    display: flex;
    gap: 1em;
    padding: 1em;
}

.columns section {
    flex: 1;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

footer {
    background-color: #e40521;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}
